<div>
    <input type="checkbox" name=<%= @number %> value=<%= @value %> class="grid-<%= @grid %>" data-action="click->draft-picks#selectPick" />
    <label for=<%= @number %>><%= @number %></label>
</div>